.main-wrapper {
    height: 100%;
    width:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-wrapper_users {
    height: 80%;
    width: 50%;
    max-width: 600px;

    overflow-y: auto;
    align-self: center;
}

.top-section-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-user-section {
position: absolute;
bottom: 1.5%;
right: 1.5%;
}

@media screen and (max-width: 800px) {
    .main-wrapper_users {
        width: 100%;
    }
}