.wrapper_box {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  border: 2px solid #000;  
  background-color: white;

  padding: 10%;
  overflow-y: auto;

  display: flex;
  justify-content:center;
}

.box-actions_wrapper {
    display: flex;
    justify-content: space-evenly;

    margin-top: 5%;
}


@media screen and (max-width: 800px) {
  .wrapper_box {
      width: 100%;
      padding: 0;
      border: 0;
  }
}